html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  border: 4px solid rgba(255, 153, 1, 0.01);
  width: 700px;
  color: gray;
  padding-top: 20px;
}

h1 {
  display: flex;
  justify-content: center;

  border-bottom: 5px solid rgba(156, 161, 87, 0.5);

  padding-top: 10px;
  padding-bottom: 5px;
}

.container {
  padding-bottom: 30px;
}

.score {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.message {
  display: flex;
  justify-content: center;
  font-size: 20px;

  padding-bottom: 30px;
  color: gainsboro;
  padding: 5px;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 340px;
  padding-left: 175px;
  padding-right: 175px;
}
.text {
  display: flex;
  justify-content: center;
}

.btn-rock,
.btn-paper,
.btn-scissors {
  background-color: rgba(156, 161, 87, 0.2);
  color: ghostwhite;
  text-decoration: none;
  border: none;
  padding: 15px;
  border-radius: 3px;
  font-size: 20px;
  text-shadow: 1px 1px 5px black;
  width: 110px;
}
.btn-rock:hover {
  background-color: rgba(156, 161, 87, 0.6);
}
.btn-paper:hover {
  background-color: rgba(156, 161, 87, 0.6);
}
.btn-scissors:hover {
  background-color: rgba(156, 161, 87, 0.6);
}
